@import url('/assets/fonts/roboto-condensed/roboto-condensed.css');

@font-face { font-family: "Rajdhani"; src: url("/assets/fonts/rajdhani/Rajdhani-SemiBold.ttf") format("truetype"); font-style: normal; font-weight: 600; font-display: swap; }
